body{

	background: #fff;
}

header {


	background: #ffcce6;
	position: relative;
	height: 295px;

}

.gifcabecalho {
	 
	position: absolute;
	left: -200px;
	top: 5px;
	width: 35%;

}

.caixa {

	position: relative;
	width: 980px;
	margin: 0 auto;

}

nav{

	position: absolute;
	top: 130px;
	right: -200px;
	
}

nav li{

	display: inline;
	margin: 0 0 0 80px;

}

nav a {

	display: inline-block;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Secular One', sans-serif;
	text-shadow: #000 3px;
	text-decoration: none;


}

nav a:hover {

	color: #ff4da6;
	font-size: 22px;
	opacity: 0.6;
  	transition: 0.3s;

}

p{

	color: #000;
	font-size: 12px;
	text-decoration: none;
	font-family: 'Secular One', sans-serif;

}

.redes {

	width: 1080px;
	margin: 0 auto;


}

.redes li {

	display: inline-block;
	margin: 20px;
	text-align: center;
	position: relative;
	top: 50px;
	left: 38px;
	vertical-align: top;
	width: 28%;
	padding: 3px 3px;
	box-sizing: border-box;
	border: 1px solid #000;
	border-radius: 10px;
}

.titulorede {

	color: #ff4da6;
	font-weight: bold;
	font-size: 22px;
	font-family: 'Secular One', sans-serif;
	padding: 15px;

}

.predes {

	padding: 15px;
}