body{

	background-image: url("https://s3-eu-west-1.amazonaws.com/ee-images-graham-sanderson/himmel-light-blue-646-06.jpg")
}

header {

	padding: 20px 0;

}

.gifcabecalho {
	 
	position: absolute;
	left: -200px;
	top: 10px;
	width: 35%;

}

.caixa {

	position: relative;
	width: 980px;
	margin: 0 auto;

}

nav{

	position: absolute;
	top: 130px;
	right: -50px;
}

nav li{

	display: inline;
	margin: 0 0 0 80px;

}

nav a {

	display: inline-block;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	font-size: 20px;
	font-family: verdana;
	text-decoration: none;

}

