body{

	background: #fff;
	
}

header {


	background: #ffcce6;
	position: relative;
	height: 295px;

}

.gifcabecalho {
	 
	position: absolute;
	left: -200px;
	top: 5px;
	width: 35%;

}

.caixa {

	position: relative;
	width: 980px;
	margin: 0 auto;

}

nav{

	position: absolute;
	top: 130px;
	right: -200px;
	
}

nav li{

	display: inline;
	margin: 0 0 0 80px;

}

nav a {

	display: inline-block;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Secular One', sans-serif;
	text-shadow: #000 3px;
	text-decoration: none;


}

nav a:hover {

	color: #ff4da6;
	font-size: 22px;
	opacity: 0.6;
  	transition: 0.3s;

}

p{

	color: #000;
	font-size: 12px;

}

.redes {

	width: 1080px;
	margin: 0 auto;


}

.redes li {

	display: inline-block;
	margin: 20px;
	text-align: center;
	position: relative;
	top: 50px;
	left: 38px;
	vertical-align: top;
	width: 28%;
	padding: 3px 3px;
	box-sizing: border-box;
	border: 1px solid #ffcce6;
	border-radius: 10px;
}

.redes li:hover{

	border-color: #000;
	transition: 0.3s;


}

.titulorede {
	
	text-decoration: none;
	color: #ff4da6;
	font-weight: bold;
	font-size: 22px;
	font-family: 'Secular One', sans-serif;
	padding: 15px;


}

.titulorede a:hover {


	color: #c653c6;
	font-size: 24px.
	opacity: 0.6;
  	transition: 0.3s;
  	text-decoration: none;
}


.predes {

	padding: 15px;
}

main{

	width: 1080px;
	margin: 0 auto;
	font-family: 'Roboto Mono', monospace;
	
}

form{
	margin-top: 30px;
}


.input-padrao{
	margin: 10px 0px 30px;
	display: block;
	padding: 10px 10px;
	width: 60%;
}


form label{
	margin-top: 50px;
	margin: 0px 0px 5px 5px;
	display: block;
	font-size: 20px;
}

.mensagem{
	display: block;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 20px;
}

form input{
	margin: 10px;
	font-weight: normal;
	font-size: 15px;
	font-family: 'Secular One', sans-serif;
}

.checkboxz{
	margin: 20px 30px 0px 0px;
}

.enviar{
	width: 60%;
	padding: 5px;
	margin-bottom: 20px;
	margin-top: 40px;
	background-color: #ffcce6;
	border: none;
	border-radius: 10px;

}

.enviar:hover{
	background-color: #ff4da6;
	color: white;
	transform: scale(1.02);
  	transition: 0.5s;
  	cursor: pointer;
}

.gif1 {

	display: inline-block;
	width: 60%;
	margin: 20px;
}

.gif2 {

	display: inline-block;
	vertical-align: right;
	width: 35%;
	margin: 20px;
}

.principal {

	display: inline-block;
	vertical-align: top;
	width: 35%;
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	text-align: justify;

}

.htitle {

	margin-bottom: 30px;
	font-size: 25px;
	font-family: 'Roboto Mono', monospace;
	color: #b300b3;


}

.htitle:hover{

	color: #000;
	transition: 1.1s;

}

.htitle2 {

	margin-bottom: 30px;
	font-size: 25px;
	font-family: 'Roboto Mono', monospace;
	color: #b300b3;

}

.htitle3 {

	margin-bottom: 30px;
	font-size: 25px;
	font-family: 'Roboto Mono', monospace;
	color: #b300b3;


}

.skills, .meio {

	display: inline-block;
	vertical-align: top;
	width: 60%;
	margin-top: 20px;
	font-family: 'Roboto Mono', monospace;
	
}

b {
	color: #A020F0;
}